.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  color: transparent;
  background: linear-gradient(90.35deg, #ba94d8 3.41%, #d62bbf 90.33%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}

.h1 {
  margin: 0px;
  font-size: 4rem;
}

.explain {
  font-size: 1.125rem;
}

.card {
  border: 1px #323232 solid;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.card h3 {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
}

.card p {
  margin: 0px;
  font-size: 14px;
  opacity: 70%;
}

.connect {
  margin-top: 48px !important;
  width: 400px !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.link {
  color: #3385ff;
}

.nft {
  display: flex;
}

/* Between 700px and 900px */
@media screen and (min-width: 700px) and (max-width: 900px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 48%;
  }
}

@media screen and (max-width: 699px) {
  .contractBoxGrid {
    gap: 2%;
  }

  .contractBox {
    width: 98%;
  }
}
